@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-btn-color: rgb(252, 227, 144);
  --border-radius: 0.5rem;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: rgb(42, 42, 42);
}

.notes-app-container {
  width: 95%;
  margin: 0 auto;
}

.notes-app-content {
  /* box-shadow: 0px 0px 24px rgb(211, 211, 211); */
  height: calc(100vh - 3rem);
  margin: 1rem 0;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.nav-mobile-tablet {
  box-shadow: 0px 0px 8px rgb(211, 211, 211);
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
}

.btn {
  border: none;
  background-color: var(--primary-btn-color);
  width: 50%;
  padding: 2rem 0;
  font-size: 2rem;
  border-radius: var(--border-radius);
}

.nav-left-sidebar {
  display: none;
}

.main {
  height: 80%;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.main-first-row {
  height: 15%;
  margin-bottom: 1rem;
}

.notes-title-input {
  height: 100%;
  font-size: 1.5rem;
}

.main .btn {
  display: none;
}

.notes-description-input {
  font-size: 1.2rem;
  height: 80%;
}

.notes-title-input,
.notes-description-input {
  width: 100%;
  border: none;
  /* background-color: red; */
}

.notes-storage-mobile-tablet {
  display: flex;
  gap: 0.5rem;
  /* overflow-x: auto; */
}

.btn-notes {
  box-shadow: 0px 0px 8px rgb(211, 211, 211);
  width: 50%;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.notes-title {
  font-size: 1rem;
}

.notes-description {
  height: 6rem;
}

.notes-time-date {
  text-align: right;
}

.notes-title,
.notes-description,
.notes-time-date {
  margin: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .notes-app-container {
    width: 85%;
  }

  .nav-mobile-tablet {
    justify-content: space-between;
  }

  .btn {
    width: 15rem;
  }

  .notes-storage-mobile-tablet {
    justify-content: space-between;
  }

  .btn-notes {
    width: 25rem;
  }
}

@media only screen and (min-width: 1000px) {
  .notes-app-container {
    width: 95%;
  }

  .notes-app-content {
    flex-direction: row;
    gap: 1rem;
  }

  .nav-mobile-tablet {
    display: none;
  }

  .nav-left-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
    height: 100%;
  }

  .new-note {
    height: 15%;
  }

  .new-note .btn {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 1rem 0;
  }

  .saved-notes {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* overflow-y: auto; */
  }

  .btn-notes {
    width: 100%;
    padding: 0;
  }

  .notes-title,
  .notes-description,
  .notes-time-date {
    margin: 0.5rem;
  }

  .main {
    width: 80%;
    height: 100%;
    margin-bottom: 0;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* justify-content: stretch; */
  }

  .main-first-row {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0;
  }

  .main-first-row .btn {
    display: block;
  }

  .notes-description-input {
    height: 100%;
  }

  .notes-storage-mobile-tablet {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .notes-app-container {
    max-width: 1400px;
  }
}
